<header class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
        <a class="header-logo" href="{{path('home')}}">
            <img src="{{asset("build/images/logo.png")}}" alt="logo" class="header-logo">
        </a>
        <div class="header-search p-10 flex-fill">
            <i class="fa-solid fa-search"></i>
            <input type="text" name="" id="">
        </div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="d-flex flex-row-nowrap align-items-center xs-hide">
                <a href="{{path('current_user_profile')}}">
                    <img src="{{asset(app.user.image)}}" alt="Profile User" class="avatar mr-10">
                </a>
                <small>
                    <a href="{{path('logout')}}">Déconnexion</a>
                </small>
            </div>
        {% else %}
            <div class="xs-hide">
                <a href="{{path('signup')}}" class="btn btn-primary mr-5">Inscription</a>
                <a href="{{path('signin')}}" class="btn btn-primary-reverse">Connexion</a>
            </div>
        {% endif %}
        <div class="show-xs burger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>

{# Menu mobile #}

<div class="menu-xs d-flex flex-column hidden">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{path('current_user_profile')}}">Profil
        </a>
    
        <a href="{{path('logout')}}">Déconnexion</a>
    
    {% else %}
        <a href="{{path('signup')}}" class="btn btn-primary mr-5">Inscription</a>
        <a href="{{path('signin')}}" class="btn btn-primary-reverse">Connexion</a>
    {% endif %}
</div>