<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Quori | Questions/Reponses{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app')}}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <script src="{{asset('javascript/index.js')}} defer"></script>
            <script src="https://kit.fontawesome.com/9b30d2aa4b.js" crossorigin="anonymous"></script>
        {% endblock stylesheets %}
    </head>
    <body class="d-flex flex-column">
       {{ include('partials/_header.html.twig') }}
       {% for cat, list in app.flashes %}
            {% for msg in list %}
                <div class="flash flash-{{cat}}">
                    {{msg}}
                </div>
            {% endfor %}
       {% endfor %}
        <div class="app-content flex-fill d-flex flex-row-nowrap justify-content-center">
            <div class="content flex-fill d-flex flex-row-nowrap py-50 ">
                {{ include('partials/_sidebar.html.twig') }}
                <div class="flex-fill">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
       {{ include('partials/_footer.html.twig') }}
    </body>
</html>

